fastapi
uvicorn[standard]
langchain-openai
langgraph
streamlit
pydantic
pydantic-settings
python-dotenv
duckduckgo-search
langchain-community
ddgs
psycopg2-binary
sqlalchemy
sentence-transformers
scikit-learn
