fastapi
uvicorn[standard]
langchain>=0.1.0
langchain-openai
langchain-groq
langgraph
pydantic
pydantic-settings
python-dotenv
duckduckgo-search
langchain-community
ddgs
psycopg2-binary
sqlalchemy
sentence-transformers
scikit-learn
chromadb
pandas
plotly
matplotlib
numpy
datasets>=2.16.0
